<div class="my-4 border p-4 rounded-4 shadow-sm">
  <h2>{{job_name}}</h2>
  <p>{{Company_name}}</p>

  <p class="d-none">userid: {{user_id}}</p>
   <div id="alert-unfavorited" class="alert alert-danger col-md-3 mx-0 d-none" role="alert">
    Removed from Favorites!  <i class="bi bi-check2-circle"></i>
  </div>
  <div id="alert-favorited" class="alert alert-success col-md-2 mx-0 d-none" role="alert">
    Added to Favorites!  <i class="bi bi-check2-circle"></i>
  </div>
  {{#if isJobFavorited}}

  <button type="button" id="favorite-button" class="btn border btn-danger" data-user-id="{{user_id}}"><i
      class="bi bi-heart"></i>
    Favorite</button>

  {{else}}
  <button type="button" id="favorite-button" class="btn btn-outline-danger " data-user-id="{{user_id}}"><i
      class="bi bi-heart"></i>
    Favorite</button>

  {{/if}}
</div>

<br>
<div>
  <h3>Job Description</h3>
  <p><em>{{job_description}}</em></p>
  <br>
  <h3>Job site</h3>
  <p>{{remote_status}}</p>  
  <br>
  <h3>Salary</h3>
  <p>${{salary}}</p>
  <br>
  <h3>Location</h3>
  <p>{{job_location}}</p>
  <br>
  <button type="button" class="btn btn-primary py-2 px-4"><a class="text-decoration-none text-white" href="/application/{{id}}">Apply now</a></button>
</div>

</div>

<script src="/js/favorite.js"></script>