 <div>
        <h2>{{job_name}}</h2>
        <p>{{Company_name}}</p>
        <button type="button" id="favorite-button">Favorite</button>
            </div>
        <p>{{job_description}}</p>
        <p>Job is {{remote_status}}</p>
        <a href="/application/{{id}}">Click Here to Apply</a>
</div>
   
