<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
{{#if isAuth}}
<div>
    <h2>My Postings:</h2>
    {{#if jobPostings.length}}
    <div>
        {{#each jobPostings as |job|}}
        <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/job/{{job.id}}">{{job.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{job.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
    </div>
    {{/if}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Job Posting:</h3>

    <form class="form new-job-form">
      <div class="form-group">
        <label for="job-name">job name:</label>
        <input class="form-input" type="text" id="job-name" name="job-name" />
      </div>
      <div class="form-group">
        <label for="job-location">job location</label>
        <input class="form-input" type="number" id="job-location" name="job-location" />
      </div>
      <div class="form-group">
        <label for="job-desc">description:</label>
        <textarea class="form-input" id="job-desc" name="job-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  </div>
  </div>
  {{/if}}
  {{#unless isAuth}}
  
    {{#each favorites as |favorite|}}
  <div>
    <h3>{{favorite.name}}</h3>
  </div>
  {{/unless}}


<script src="./js/profile.js"></script>