<div class="row">
  <div class="col-auto">
    <h2 id="name_id" data-user-id="{{user_id}}">Welcome, {{name}}!</h2>
  </div>
</div>

{{#if isAuth}}
<div>


  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Create a New Job Posting:</h3>

      <form class="form new-job-form">
        <div class="form-group">
          <label for="job-name">job name:</label>
          <input class="form-input" type="text" id="job-name" name="job-name" />
        </div>
        <div class="form-group">
          <label for="job-location">job location</label>
          <input class="form-input" type="text" id="job-location" name="job-location" />
        </div>
        <div class="form-group">
          <label for="job-desc">description:</label>
          <textarea class="form-input" id="job-desc" name="job-desc"></textarea>
        </div>
         <div class="form-group">
          <label for="job-desc">Salary:</label>
          <textarea class="form-input" id="salary" name="location"></textarea>
           <div class="form-group">
          <label for="job-desc">Company name:</label>
          <textarea class="form-input" id="CompanyName" name="job-desc"></textarea>
        </div>
        </div>
        <div class="form-group">
          {{!-- <button type="submit" class="btn btn-primary" id="create">Create</button> --}}
           <button  type="submit button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="submitBtn">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="display-flex justify-space-between align-center p-2 bg-secondary">  <a href="/" class="ml-5"><img src="/img/LogoMakr-76k40u.png" alt="logo" class="img-fluid" /></a>      
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Thank you for Creating A Job Posting!
      </div>
      <div class="modal-footer">
       
     
      
      </div>
    </div>
  </div>
</div>


{{else}}

{{! Favorites display }}
<div class="border rounded p-4">
  <h2 class="my-4">My Favorites</h2>
  <ul class="list-group">
    {{#each favorites}}
    <div class="">
      <li class="list-group-item my-2 rounded-3">
        <a class="text-decoration-none" href="/job/{{this.jobPosting.id}}">
          <h4>{{this.jobPosting.job_name}}</h4>
        </a>
          <p><em>{{this.jobPosting.job_description}}</em></p>
        <button id="remove-favorite" class="btn btn-danger" data-favorite-id="{{this.id}}">Remove</button>
      </li>

    </div>
    {{/each}}
  </ul>
</div>
{{/if}}

<script src="/js/profile.js"></script>